 
    html,body{
        margin: 0;
        text-align: center;
        font-size: 25px;
        background-color: rgb(241, 219, 240);
    }
    h1 {text-align: center;}
    
i{
    color: red;
}
span{
    color: blue;
}p{color: brown;
    text-align: center;
    background-color: green;}

